<div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--primary collapsible__chevron">
            <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus consequuntur nam quibusdam cumque consectetur assumenda ratione quas facere. Rerum quas dicta nostrum placeat, aut voluptatibus! Minima, similique quas saepe qui fuga, doloribus excepturi et possimus quam praesentium culpa cupiditate soluta vel. Temporibus molestiae minima deserunt quibusdam adipisci iusto veniam impedit!
    </div>
  </div>
  <div class="collapsible collapsible--expanded">
    <header class="collapsible__header">
      <h2 class="collapsible__heading">Item 1</h2>
        <svg class="icon icon--primary collapsible__chevron">
            <use xlink:href="images/sprite.svg#quotes"></use>
        </svg>
    </header>
    <div class="collapsible__content">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, consectetur!
    </div>
</div>

<script src="js/main.js"></script>